<html>

  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header"><h1>User n°<%=@id%></h1></div>
    <div class="card-body text-info">
      <h5 class="card-title">First name : <%=@user.first_name%></h5>
      <p class="card-text">Last Name : <%=@user.last_name%> <br>
     Bio : <%=@user.description%><br> 
     Age : <%=@user.age%> <br>
     City: <%=@user.city.name%> <br>
    </p>
  
    </div>
  </div>
</html>


